Repository Art-Amatours/Many-Voices, pull requests merged in 2020-11, with the labels that each got.

#51 Miscellaneous cleanups (no logic/functional changes)
  mobile-app/src/App.tsx
  mobile-app/src/components/Card.tsx
  mobile-app/src/components/CritiqueComponent.tsx
  mobile-app/src/components/MediaExpanded.tsx
  mobile-app/src/components/MediaPlayer.tsx
  mobile-app/src/components/SearchBar.tsx
  mobile-app/src/components/Spacer.tsx
  mobile-app/src/components/Tag.tsx
  mobile-app/src/components/Title.tsx
  mobile-app/src/navigation/AppNavigator.tsx
  mobile-app/src/navigation/RootNavigation.tsx
  mobile-app/src/screens/ArtworkScreen.tsx
  mobile-app/src/screens/DetailsScreen.tsx
Labels: mobile-app

#52 Misc style polishes
  mobile-app/src/components/Card.tsx
  mobile-app/src/components/CritiqueComponent.tsx
  mobile-app/src/components/MediaPlayer.tsx
  mobile-app/src/components/SearchBar.tsx
  mobile-app/src/components/Spacer.tsx
  mobile-app/src/components/Tag.tsx
  mobile-app/src/components/Title.tsx
  mobile-app/src/navigation/AppNavigator.tsx
  mobile-app/src/navigation/RootNavigation.tsx
  mobile-app/src/navigation/types.ts
  mobile-app/src/screens/ArtworkScreen.tsx
Labels: mobile-app

#55 Add POST /replaceExistingFile endpoint
  mobile-app/src/components/CritiqueComponent.tsx
  mobile-app/src/store/artwork/reducers.ts
  mobile-app/src/store/artwork/types.ts
  server/bucket.go
  server/server.go
Labels: mobile-app, server

#54 Introduce content management boilerplate
  .github/workflows/build-and-lint.yml
  cmp/.eslintrc
  cmp/.gitignore
  cmp/.prettierrc
  cmp/README.md
  cmp/package.json
  cmp/public/favicon.ico
  cmp/public/index.html
  cmp/public/logo192.png
  cmp/public/logo512.png
  cmp/public/manifest.json
  cmp/public/robots.txt
  cmp/src/App.css
  cmp/src/App.tsx
  cmp/src/components/ArtworkCard/ArtworkCard.tsx
  cmp/src/components/ArtworkCard/styles.css
  cmp/src/components/Card/Card.tsx
  cmp/src/components/Card/styles.css
  cmp/src/components/Header/Header.tsx
  cmp/src/components/Header/styles.css
  cmp/src/components/Tag/Tag.tsx
  cmp/src/components/Tag/styles.css
  cmp/src/index.css
  cmp/src/index.tsx
  cmp/src/logo.svg
  cmp/src/react-app-env.d.ts
  cmp/src/reportWebVitals.ts
  cmp/src/store/artwork/actions.ts
  cmp/src/store/artwork/reducers.ts
  cmp/src/store/artwork/types.ts
  cmp/src/store/index.ts
  cmp/src/views/GalleryView/GalleryView.tsx
  cmp/tsconfig.json
  cmp/yarn.lock
  server/server.go
Labels: cmp

#56 Server refactor
  mobile-app/src/store/artwork/actions.ts
  mobile-app/yarn.lock
  server/api/api.go
  server/api/bucket.go
  server/api/health.go
  server/bucket/bucket.go
  server/main.go
  server/server.go
Labels: server

#57 Add DELETE /bucket/:objectPath endpoint
  server/api/bucket.go
  server/bucket/bucket.go
Labels: server

#59 Add POST /bucket/:objectPath endpoint for file uploads
  server/api/bucket.go
  server/bucket/bucket.go
Labels: server

#60 README suggestions before delivery doc assignment deadline
  README.md
Labels: documentation

#61 Scrubber
  mobile-app/assets/icons/baseline_forward_black_48dp.png
  mobile-app/assets/icons/baseline_replay_black_48dp.png
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/components/CritiqueComponent.tsx
  mobile-app/src/components/MediaExpanded.tsx
  mobile-app/src/components/MediaPlayer.tsx
  mobile-app/yarn.lock
Labels: enhancement
